$deep-pink: #F2A2B7;
$light-pink: #F2BAC9;
$dark-navy: #000226;
$navy:#0F1B3F;
$purple: #8C6481;

$bodyfont: 'New York Large-Regular', 'serif';
$heading: 'Lato-Regular.ttf', 'sans-serif';
$heading-b: 'Lato-Bold.ttf', 'sans-serif';
