@import '_vars';
@import 'modules/_hero';
@import 'modules/_nav';
@import 'modules/_video';
@import 'modules/_portfolio';
@import 'modules/_about';
@import 'modules/_services';
@import 'modules/_contact';
@import 'modules/_lightbox';
@import 'modules/_footer';
@import 'modules/_errors';

@font-face {
    font-family: $bodyfont;
    src: url('NewYorkLarge-Regular.otf') format('truetype');
  }
@font-face {
  font-family: $heading;
  src: url('lato-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: $heading-b;
  src: url('Lato-Bold.ttf') format('truetype');
}

.hidden {
  display: none;
}

body {
  font-family: $bodyfont;
}

.logo {
  float: left;
  height: 80px;
  width: 80px;
}

h3 {
  color: white;
  text-transform: uppercase;
  // font-family: $heading-b;
}

.sectionBars {
  text-align: center;
  background-color: $dark-navy;

}

