@import '_vars';
@import 'modules/_hero';
@import 'modules/_nav';
@import 'modules/_video';
@import 'modules/_portfolio';
@import 'modules/_about';
@import 'modules/_services';
@import 'modules/_contact';
@import 'modules/_lightbox';
@import 'modules/_footer';
@import 'modules/_errors';

@font-face {
    font-family: $bodyfont;
    src: url('NewYorkLarge-Regular.otf') format('truetype');
  }
  
@font-face {
  font-family: $heading;
  src: url('Lato-Regular.ttf') format('opentype');
}

@font-face {
  font-family: $heading-b;
  src: url('Lato-Bold.ttf') format('opentype');
}

.hidden {
  display: none;
}

body {
  font-family: $bodyfont;
  left: 2px;
  right: 0;
}

h3 {
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 15px;
  font-family: $heading-b;
  letter-spacing: 2.75px;
}

.sectionBars {
  text-align: center;
  background-color: $dark-navy;
}

li {
  font-family: $heading;
}

a {
  color:white;
}

a:hover {
  color: $deep-pink;
}
