<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Error Page - Something Broke!</title>
</head>
<body>
    <main class="row error-section">
        <h5 class="row column .errorp">Oh no, something isnt working...</h5>
        {{!-- <img src="images/404-error.gif" alt="404 not found" class="row column errorimg"> --}}
        <a class="row column error-home" href="/">Back to Home</a>
        {{{ body }}}
    </main>
    
</body>
</html>