<!DOCTYPE html>
<html>
  <head>
    <title>Natalie Soberano's Portfolio</title>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel='stylesheet' href='/css/main.css' />
    <link rel="icon" type="image/png" href="images/favicon.ico">
  </head>
  <body>

    <section class="row">
      <div class="hero-full-screen">
      <h1 class="hide">Hero</h1>
          <div class="bottom-content-section" data-magellan data-threshold="0">
            <img class="logo-top" src="images/logo.png" alt="Logo">
            <p class="name-top">Natalie Soberano</p>
            <a href="#go"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" class="arrow"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
         
            <nav class="small-12 columns hero-nav">
            <h2 class="hidden">Nav Items</h2>
              <ul>
                <a href="#portfolio"><li>Portfolio</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#services"><li>Services</li></a>
                <a href="#contact"><li>Contact</li></a>
              </ul>
            </nav>
          </div>
      </div>
    </section>


    <div> 
      <h2 class="hidden">Site Container</h2>

        {{!-- Open Main Nav --}}
        <header class="row mainnav" id="go">
          <h2 class="hidden">Main Nav</h2>
            
          <nav class="small-9 columns fixed-nav-bar hide">
            <h2 class="hidden">Nav Items</h2>
            <ul>
                <a href="#top"><li><img src="images/logo.png" alt="main logo" class="logo" id="logo"></li></a>
                <a href="#portfolio"><li>Portfolio</li></a>
                <a href="#about"><li>About</li></a>
                <a href="#services"><li>Services</li></a>
                <a href="#contact"><li>Contact</li></a>
              </ul>
          </nav>
        </header>

      {{!-- Open Video Section --}}
          <h2 class="hidden vidsection">Video Section - Demo Reel</h2>
          <section class="row" id="top">
            <div class="small-12 columns" id="player-overlay">
              <div class="responsive-embed">
                <video controls src="video/vid.mp4" width="100%" video="100%" style="width:100%" style="height:100%"></video>
              </div>
            </div>
          </section>

      {{!-- Open Portfolio Section --}}
        <section class="row small-up-3 medium-up-3 large-up-3">
          <h2 class="hidden">Portfolio Section</h2>
          <h3 class="sectionBars" id="portfolio">Works</h3>
            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="1">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="2">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="3">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="4">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="5">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="6">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="7">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="8">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>

            <div class="column">
              <img class="thumbnail" src="https://placehold.it/550x550" id="9">
              <h5>My Site</h5>
              <h6>Type</h6>
            </div>
        </section>

        {{!-- Open Lightbox --}}
        <section class="row lightbox">
          <h2 class="hidden">Lightbox</h2>

          <div class="small-12 columns">
            <h1 class="name"></h1>
            <img src="" alt="" class="img">
            <p class="text"></p>
            <span class="close">x</span>
          </div>

          </div>
        </section>

    {{!-- Open About Section  --}}
      <section class="row">
        <h2 class="hidden">About Section</h2>
        <h3 class="sectionBars" id="about">About</h3>
        <div class="small-6 columns">
          <img src="images/me.jpg" alt="Profile Picture" class="me">
        </div>
        <div class="small-6 columns">
           <p class="mePara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.</p>
        </div>
      </section>

    {{!-- Open Services Section  --}}
      <section class="row">
        <h2 class="hidden">Services Section</h2>
        <h3 class="sectionBars" id="services">Services</h3>
        <div class="small-6 medium-6 large-6 columns">
          <img src="images/gdesign.png" alt="Graphic Design Logo" class="designImg">
        </div>
        <div class="small-6 medium-6 large-6 columns">
          <h1 id="graphicSymbol">Graphic Design</h1>
          <p class="serviceP">Lorem ipsum dolor sit amet, consectetur borum.</p>
        </div>
          <div class="small-12 columns divres">
            <a href="images/creative_resume.pdf" download="soberano_natalie_resume_2019.pdf" target="_blank"><h3 class="resume">View & Download My Resume</h3></a>
          </div>
      </section>

    {{!-- Open Contact Form --}}
      <section class=" row Contact">
        <h2 class="hidden">Contact Section</h2>
        <h3 class="sectionBars" id="contact">Contact</h3>

        <div class="row">
          <div class="small-3 medium-3 columns">
            <h3 class="myinfo">Contact</h3>
          </div>

        <div class="small-3 medium-3 columns">
          <h2 class="myinfo get">Get In Touch</h2>

          <h1 class="myinfo move" id="phone">Phone</h1>
          <p class="myinput">416-817-7729</p>

          <h1 class="myinfo move" id="email">Email</h1>
          <p class="myinput">NatalieSoberano@yahoo.ca</p>

          <ul class="socialmedia myinfo">
            <li><a href="https://ca.linkedin.com/in/natalie-soberano-a708b8184" target="_blank"><img src="images/Linkedin.png" alt="LinkedIn"></a></li>
            <li><a href="https://www.instagram.com/nats.illustrations/" target="_blank"><img src="images/Insta.png" alt="Instagram"></a></li>
          </ul>
        </div>

        <div class="small-6 columns form">
          <label>
            <input type="text" placeholder="NAME" class="input">
          </label>

          <label>
            <input type="text" placeholder="EMAIL" class="input">
          </label>

          <label>
            <input type="text" placeholder="NUMBER" class="input">
          </label>

          <label>
            <textarea placeholder="YOUR MESSAGE" class="input"></textarea>
          </label>

          <input type="submit" class="button expanded submit" value="Submit">
        </div>

        </div>
      </section>

      <section class="row">
        <h2 class="hidden">Footer</h2>
        <footer class="small-12 columns">
          <a href="#top"><img src="images/logo.png" alt="logo" class="logoFooter"></a>
          <p class="nameBottom">Natalie Soberano</p>
        </footer>
      </section>

    </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script> $(document).foundation();</script>
  <script src="js/main.js"></script>
  </body>
</html>
