.me {
    min-width: 250px;
    margin: 0 auto;
    padding: 5px;
    display: block;
}

.mePara {
    color: black;
    text-align: center;
    margin: 5px;
    margin-left: 10px;
    padding-left: 10px;
    
}

