.me {
    float: left;
    height: 400px;
    width: 300px;
    margin-left: 50px;
    margin-top: 40px;
}

.mePara {
    height: 400px;
    width: 300px;
    margin-left: 40px;;
    margin-top: 40px;
    float: right;
}