.input {
    font-family: $bodyfont;
}

.socialmedia {
    height: 50px;
    width: 50px;
    
}

li {
    display: block;
}

.Contact p, h1 {
    color: black;
}

.C {
    float: left;
    display: block;
    margin: 0px;
    padding-top: 0px;
}

.myinfo {
    text-transform: uppercase;
}

.form {
    float: right;
    margin: 0px;
    padding-top: 0px;
}

.get {
    color: $light-pink;
    // font-weight: bold;
    font-family: $heading-b;
}

.submit {
    background-color: $purple;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.submit:hover {
    background-color: $navy;
}

.input{
    font-size: 11px;
}

