.input {
    font-family: $bodyfont;
    font-size: 11px;
}

.socialmedia {
    height: 50px;
    width: 50px;
}

ul {
    list-style-type: none;
  }

.Contact p, h1 {
    color: black;
}

.myinfo {
    text-transform: uppercase;
    font-family: $heading;
}

.get {
    color: $light-pink;
    font-family: $heading-b;
}

.submit {
    background-color: $purple;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.submit:hover {
    background-color: $navy;
}

// .myInfoSection {
//     margin-right: 80px;
// }

// .small-3 {
//     width: 5%;
// }


.myemail {
    color: black;
}



