.logoFooter {
  float: left;
  position: relative;
  height: 70px;
  width: 70px;
  margin-left: 8px;
}

footer {
  background-color: $dark-navy;
  height: 75px;
  padding-top: 2px;
  position: absolute;
}

.nameBottom {
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 26px;
    margin-left: 95px;
}
