.hero-full-screen {
    height: 80vh;
    flex-direction: column;
    align-items: center;
    background: $dark-navy;
    background-size: cover;
    position: relative;
}
  
.bottom-content-section {
    position: relative;
  
    svg {
      fill: $light-pink;
      display: block;
      margin: auto;
      margin-top: 39px;
      margin-bottom: 25px;
    }
}

.name-top {
    color: white;
    text-align: center;
    margin-top: 45px;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
  
.logo-top {
    position: relative;
    padding-top: 25px;
    margin: 0 auto;
    width: 237px;
    text-align: center;
    display: block;
}

.hero-nav ul li {
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin: 5px;
    padding: 8px;
    letter-spacing: 2.5px;
}

nav {
    background-color: $dark-navy;
    padding-bottom: 45px;
}

.hero-nav li:first-child {
    border: 1px solid white;
}

// .hero-nav ul li a:hover {
//     color: $deep-pink;
// }
  



  