.show-lightbox { display: flex !important; }

.lightbox { 
    display: none;
    //display: flex;
    min-height: 200vh;
    width: 100vw;
    position: fixed;
    top: 0;
    // z-index: 90000px;
    padding: 20px;
    text-align: center;
    background-color: $dark-navy;
    margin: 0 auto;

    .close {    
        right: 20px;
        top: 20px;
        width: 50px;
        height: 50px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        border: thin solid $dark-navy;
        border-radius: 50%;
        background-color: $light-pink;
        color: $dark-navy;
    }
}

body {
    font-family: $bodyfont;
    color:black;
  }
