nav ul li {
    display: inline;
    margin-left: 70px;
    padding: 0px;
    text-transform: uppercase;
}

  nav ul {
    color: white;
    height: 50px;
  }

 li {
    padding-top: 10px;
  }

  .mainnav {
    background-color: $dark-navy;
    padding-top: 25px;
  }

.logo {
  padding: 5px;
}


//working but not in right spot
// .fixed-nav-bar {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 9999;
//   width: 100%;
//   height: 60px;
// }
