nav ul li {
    display: inline;
    text-transform: uppercase;
    margin-left: 5px;
    // font-size: 15px;
    border: 1px solid white;
    padding: 5px;
    margin: 0 auto;
}

  nav ul {
    color: white;
    height: 50px;
    margin-top: 18px;
  }

 li {
    margin-right: 10px;
  }

  .mainnav {
    background-color: $dark-navy;
    padding-top: 25px;
  }

  .mainnav ul li {
    padding: 10px;
  }

.logo {
  padding-top: 0px;
  float: left;
  height: 75px;
  width: 75px;
}

nav li {
  display: inline-block;
}

ul {
  text-align: center;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 60px;
}

.fixed-nav-bar ul li {
  padding: 5px;
}

a:hover {
  color: $deep-pink;
}

  /* If screen size is more than 600px wide, set the font-size of <div> to 80px */
  @media screen and (min-width: 600px) {
    nav ul li  {
      font-size: 20px;
    }
  }
  
  /* If screen size is 600px wide, or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    nav ul li  {
      font-size: 15px;
    }
  }


