.designImg {
    height: 220px;
    width: 220px;
}

.graphicSymbol {
    text-align: center;
}

.resume {
    text-align: center;
    background-color: $purple;
    color: white;
    // font-family: $heading;
    text-transform: uppercase;
}